/* custom fonts */
@font-face {
  font-family: 'letters_question';
  src: url(./source/fonts/answer.ttf);
  /*src: url(./source/fonts/question.otf);*/
}
@font-face {
  font-family: 'letters_answer';
  src: url(./source/fonts/answer.ttf);
}
@font-face {
  font-family: 'letters_words';
  src: url(./source/fonts/answer.ttf);
}


body {
	background-color: rgb(255,255,255);
#screen_contain_vertical { /* first box */
	background-color: rgb(0,0,0);
	position:fixed;
	top:30px;
	right:30px;
	bottom:30px;
	left:30px;


#screen_contain_horizontal { /* second box */
	background-color: rgb(255,0,0);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

#screen_contain { /* third box */

	background-color: rgb(13,17,23);
	
	
	/* generals for item */
	section {
		display: inline-block;
		
		
		section {
			/*outline: solid 2px red; to debug*/
			font-size: 10vmin;
			padding: 0px;
			/*padding: 3vmin 3vw 3vmin 3vw;*/
			
			display: flex;
			justify-content: center;
		}
	}

	/* specific by items */
	#answer {
		/*outline: solid 2px blue; to debug*/
		color: rgb(0,0,255);
  		font-family: 'letters_answer';
	}
	
	#question_left {
		/*outline: solid 2px white; to debug*/
		color: rgb(255,255,255);
  		font-family: 'letters_question';

	}
	#question_right {
		/*outline: solid 2px white; to debug*/
		color: rgb(255,255,255);
  		font-family: 'letters_question';

	}

	display: inline-block;

	/* generals for item */
	footer {

		/*outline: solid 2px purple; to debug*/

		/* bar */
		#shape_bars {
			font-family: 'letters_words';
			font-size: 10vmin;

			/*display: inline-block;*/

			.bar_shape {
				background-color: #ffffff;
				width: 36vmin;
				height: 1vmin;
			}
			.bar_text {
				color: #999999;
			}

			#bar_left {
				/*margin-left: 0;
				margin-right: auto;*/
				position: absolute;
				left: 0px;
				text-align: left;

				.bar_shape {
					position: absolute;
					left: 0px;
					top: 0vmin;
				}
				.bar_text {
					position: absolute;
					left: 0px;
					top: -11vmin;/* slided */
				}

			}

			#bar_right {
				/*margin-left: auto; 
				margin-right: 0;*/
				position: absolute;
				right: 0px;
				text-align: right;

				.bar_shape {
					position: absolute;
					right: 0px;
					top: 11vmin;/* slided */
				}
				.bar_text {
					position: absolute;
					right: 0px;
					top: 0vmin;
				}
			}
		}
	}

	/* buttons */
	#buttons {
		
		color: rgb(0,0,255);
		
		
		font-size: 5vmin;
		
		position:fixed;
		bottom: 30px;

		justify-content: center;
		text-align: center;


		input {
			padding: 0px;
		}
	}
}
}
}
nav {
	position: absolute;
	right:10px;
	bottom:-40px;
	text-align: right;
	
	font-family: letters_words;


	#msg_cat {
		font-size:15px;
		/*font-size:1vmin;*/
		color:rgb(255,255,255);
	}
	#msg_the {
		font-size:15px;
		color: rgb(13,17,23);
	}

}
}
