/* custom fonts */
@font-face {
  font-family: 'letters_question';
  src: url(./source/fonts/answer.ttf);
  /*src: url(./source/fonts/question.otf);*/
}
@font-face {
  font-family: 'letters_answer';
  src: url(./source/fonts/answer.ttf);
}
@font-face {
  font-family: 'letters_words';
  src: url(./source/fonts/answer.ttf);
}


body {
	background-color: rgb(255,255,255);
#screen_contain_vertical { /* first box */
	background-color: rgb(0,0,0);
	position:fixed;
	top:30px;
	right:30px;
	bottom:30px;
	left:30px;


#screen_contain_horizontal { /* second box */
	/*background-color: rgb(255,0,0); to debug*/

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

#screen_contain { /* third box */

	background-color: rgb(255,255,255); /*to debug*/
	/*outline: solid 2px blue; to debug*/
	display: inline-block;
	font-size: 0;
	

	header {
		/*outline: solid 2px red; to debug*/


		justify-content: center;
		text-align: center;
		font-family: 'letters_answer';


		position:fixed;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -100%);

		#soluces {

			color: #555555;

			font-size: 2.5vmax;
			line-height: 2.5vmax;
		}

		#title {
			position:absolute;
			top: -20vmax;
			left: 50%;
			transform: translate(-50%, 0%);
			
			color: #555555;

			font-size: 10vmax;
			line-height: 0vmax;
		}

		#subtitle {
			position:absolute;
			top: -5vmax;
			left: 50%;
			transform: translate(-50%, 0%);
			
			color: #555555;

			font-size: 2vmax;
			line-height: 0vmax;
		}
	}

	
	/* generals for item */
	section {
		line-height: 0;
		display: inline-block;
		
		background-color: rgb(13,17,23);
		
		section {
			/*outline: solid 2px red; to debug*/
			font-size: 5vmax;
			padding: 0px;
			/*padding: 3vmax 3vw 3vmax 3vw;*/
			
			display: flex;
			justify-content: center;
		}
	}

	/* specific by items */
	#answer {
		/*outline: solid 2px blue; to debug*/
		color: rgb(0,0,255);
  		font-family: 'letters_answer';
	}
	
	#question_left {
		/*outline: solid 2px white; to debug*/
		color: rgb(255,255,255);
  		font-family: 'letters_question';

	}
	#question_right {
		/*outline: solid 2px white; to debug*/
		color: rgb(255,255,255);
  		font-family: 'letters_question';

	}

	/* generals for item */
	footer {

		/*outline: solid 2px purple; to debug*/

		/* bar */
		#shape_bars {
			font-family: 'letters_words';
			font-size: 5vmax;

			/*display: inline-block;*/

			.bar_shape {
				background-color: #ffffff;
				width: 18vmax;
				height: 1vmax;
			}
			.bar_text {
				color: #999999;
			}

			#bar_left {
				/*margin-left: 0;
				margin-right: auto;*/
				position: absolute;
				left: 0px;
				text-align: left;

				.bar_shape {
					position: absolute;
					left: 0px;
					top: 0vmax;
				}
				.bar_text {
					position: absolute;
					left: 0px;
					top: -5vmax;/* slided */
				}

			}

			#bar_right {
				/*margin-left: auto; 
				margin-right: 0;*/
				position: absolute;
				right: 0px;
				text-align: right;

				.bar_shape {
					position: absolute;
					right: 0px;
					top: 11vmax;/* slided */
				}
				.bar_text {
					position: absolute;
					right: 0px;
					top: 0vmax;
				}
			}
		}
	}

	/* buttons */
	#buttons {
		
		color: rgb(0,0,255);
		
		
		font-size: 5vmax;
		
		position:fixed;
		bottom: 30px;

		justify-content: center;
		text-align: center;


		input {
			padding: 0px;
		}
	}
}
}


nav {
	color: #0000ff;

	position:absolute;
	top: 50%;
	left: 0px;
	transform: translate(0%, -50%);

	padding-left: 5vmax;
	
	font-family: 'letters_words';
	font-size: 2vmax;
	#side_timer {
		font-size: 5vmax;
	}
}

aside {
	position: absolute;
	right:10px;
	bottom:-40px;
	text-align: right;
	
	font-family: letters_words;


	#msg_cat {
		font-size:15px;
		/*font-size:1vmax;*/
		color:rgb(255,255,255);

	}
	#msg_the {
		font-size:15px;
		color: rgb(13,17,23);
	}

}
}
}



/* colorations */
.red {
	font-weight: normal;
	color: #ff0000;
}
.green {
	font-weight: normal;
	color: #00ff00;
}
.blue {
	font-weight: normal;
	color: #0000ff;
}
.yellow {
	font-weight: normal;
	color: #ffff00;
}
.cyan {
	font-weight: normal;
	color: #00ffff;
}
.magenta {
	font-weight: normal;
	color: #ff00ff;
}
.gray {
	font-weight: normal;
	color: #555555;
}
.bold {
	font-weight:bolder;
}